body, html {
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(238, 238, 238);
    font-family: sans-serif;
}

.game {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(100, 100, 100);
    display: flexbox;
}

.game__title {
    display: grid;
    font-family: sans-serif;
    font-size: 2.5em;
    color: white;
    width: 100%;
    /* display: block;
    position: relative;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1.5em; */
}

.round {
    /* border: 1px solid black; */
    display: grid;
    justify-items: center;
}

.round__number {
    /* border: 1px dashed white; */
}

.player {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.score {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

.shape {
    /* border: 1px solid black; */
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.shape__button {
    font-size: large;
}

.result {
    display: flex;
    justify-content: center;
}

.result__round--hide {
    display: none;
}

.result__final--hide {
    display: none;
}